[package]
name = "core"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
bincode = "2.0.1"
num = "0.4.3"
serde = "1.0.228"
tokio = {version="1.48.0", features=["full"]}
tracing = "0.1.41"
